:root {
  --text: #2d2a32;
  --text-h: #08060d;
  --bg: #f6f5f2;
  --panel-bg: #fff;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d6d4db;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --panel-bg: #1f2028;
    --border: #2e303a;
  }
}

#root {
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
}
